
article {
    background-color: darkgray;
    color: white;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    margin-top: 0px;
    overflow: hidden;
    height: 1000px;
}

section h2 {
    margin-bottom: 20px;
    margin-top: 20px; 
}


.col-12 {
    margin-bottom: 20px;
}